


.subfoot{
	align-content: right;
	border: 0;
	 width:250 ;
	 border-collapse: collapse; 
}
.imgc{
	width:22;
	text-align: right;
}
.design{
	color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;
}
.design1{
	color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;padding-left: 40px;
}
.tee1{
	
	border:0;
	width: 45px; 
	border-collapse: collapse;
}
.tee {
  display: block;
  
}
#hr{
  
	width: 50%; background-color: black; height: 3px; margin-left: 5;
}
