{% extends 'frontend/email_base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Contact Email
{% endblock %}

{% block content %}																																																						
					<style>
						.de, .rr, .ee {  
						  border: 1px solid #ddd;
						  text-align: left;
						}
						
						.de {
						  border-collapse: collapse;
						  width: 50%;
						  margin: auto;
						}
						
						.ee, .rr {
						  padding: 25px;
						}
						p{
							text-align: left;
						}
						.we{
							padding-left: 35%;
						}
						</style>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<table class="de">
							<tr >
							  <th class="ee">Fields</th>
							  
							  <th class="ee">Data</th>
							</tr>
							<tr >
							  <td class="rr">Name</td>
							  <td class="rr">Slim Shady</td>
							</tr>
							<tr >
								<td class="rr">Email</td>
								<td class="rr">nonwazy@yahoo.com</td>
							  </tr>
							  <tr >
								<td class="rr">Phone</td>
								<td class="rr">08123587654</td>
							  </tr>
							  <tr >
								<td class="rr">Message</td>
								<td class="rr"><p style="">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt debitis amet nostrum 
									numquam ullam dolore doloremque, molestias ad eum facilis adipisci vero nulla. Magni, culpa officiis 
									dolorum atque totam earum neque. Quibusdam reiciendis voluptatum accusamus, enim corrupti iste
									 suscipit similique? Aut hic doloremque illo fuga, magnam voluptatem omnis nesciunt officiis
									  dolore facere voluptates nisi, ea dicta. Eligendi, quidem! Commodi sed, odio
									   eveniet porro neque rerum repudiandae vel blanditiis illo tempore dolores? Ea,
									    eveniet iusto quae asperiores ratione rerum numquam enim voluptatum 
										delectus architecto voluptatibus neque provident magnam vitae
										 molestias obcaecati dolores aspernatur nostrum vel exercitationem 
										 necessitatibus quasi quas. Expedita, explicabo.
								</p>
								
							</td>
							  </tr>
							  
							
						  </table>
						  

					</table>
					
{% endblock %}