{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
About
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">

            <div class="columns container">
                <!-- Block  Breadcrumb-->
                        
                <ol class="breadcrumb no-hide">
                    <li><a href="{% url 'index' %}">Home    </a></li>
                    <li class="active">About Us</li>
                </ol><!-- Block  Breadcrumb-->

                <div class="row">
                   

                    <!-- Main Content -->
                    <div class="col-md-9 col-md-push-3   col-main">
                        <h2 class="page-heading">
                            <span class="page-heading-title2">About Us</span>
                        </h2>
                        {% if abt %}
                        {% for a in abt %}
                        <div class="content-text clearfix">

                            <img width="310" alt="" class="alignleft" src="{{ a.abt_img }}">

                            <p>{{ a.abt_content |safe }}</p>

                        </div>
                        {% endfor %}
                        {% endif %}

                    </div><!-- Main Content -->
                    
                    {% include 'frontend/sidebar.html' %}

                    
                    
                </div>
            </div>


		</main><!-- end MAIN -->

{% endblock %}