{% extends 'frontend/base.html' %}
{% load static %}
{% load lappyng_tags %}
<!DOCTYPE html>

{% block title%}
{% if brand %}
    {{ brand.brand_name }}
{% else %}
    Products
{% endif %}
{% endblock %}

{% block content %}
		<!-- MAIN -->
		<main class="site-main">

            <div class="columns container">
                <!-- Block  Breadcrumb-->
                        
                <ol class="breadcrumb no-hide">
                    <li><a href="{% url 'index' %}">Home    </a></li>
                    <li class="active">{{ brand }}</li>
                </ol><!-- Block  Breadcrumb-->

                <div class="row">
                   
                    <!-- Main Content -->
                    <div class="col-md-9 col-md-push-3  col-main">

                        <!-- images categori -->
                        <div class="category-view">
                            <div class="owl-carousel " 
                                data-nav="true" 
                                data-dots="false" 
                                data-margin="0" 
                                data-items='1' 
                                data-autoplayTimeout="700" 
                                data-autoplay="true" 
                                data-loop="true">
                                <!-- {% for b in brand.show_brand_img %}
                                <div class="item " >
                                   <a href=""><img src="{{ brand.show_brand_img}}" alt="category-images"></a>
                                </div>
                            {% endfor%} -->
                            </div>
                        </div><!-- images categori -->

                   
                        <!-- Toolbar -->
                        <div class=" toolbar-products toolbar-top">

                            <div class="btn-filter-products">
                                <span>Filter</span>
                            </div>

                            <h1 class="cate-title" style="text-transform: capitalize;">{{brand.brand_name }}</h1>
                           
                            

                            <ul class="pagination">
                                {% if person_page_obj.has_previous %}
                                <li>
                                  <a href="?page={{ person_page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&raquo; Previous </span>
                                  </a>
                                </li>
                                {% endif %}
                                {% for i in person_page_obj.paginator.page_range %}
                                {% if movies.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                 {% endfor %}
                                {% if person_page_obj.has_next %}
                                <li>
                                  <a href="?page={{ person_page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">Next &raquo;</span>
                                  </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                </li>
                                {% endif %}
                              </ul>
                        </div><!-- Toolbar -->

                        <!-- List Products -->
                        <div class="products  products-grid">
                            <ol class="product-items row">
                                {% if not products %}
                                <h3>No Products yet for this brand. </h3>
                                {% else %}
                                {% for product in products %}
                                <li class="col-sm-4 product-item ">
                                    <div class="product-item-opt-1">
                                        <div class="product-item-info">
                                            <div class="product-item-photo">
                                                <a href="{{ product.get_absolute_url }}" class="product-item-img"><img src="{{product.show_image1}}" alt="product name"></a>
                                                
                                                
                                                {{ product.circle_label }}
                                            </div>
                                            <div class="product-item-detail">
                                                <strong class="product-item-name"><a href="{{ product.get_absolute_url }}">{{product.title}}</a></strong>
                                                <div class="clearfix">
                                                    <div class="product-item-price">
                                                        {{ product.get_discount_price }}
                                                        {{ product.get_price }}
                                                    </div>
                                                   
                                                   
                                                </div>
                                                <div class="share justify">
                                                    <a href="{{ product.display_whatsapp }}" class="whatsapp">
                                                        <i class="fa fa-whatsapp"></i>
                                                    </a>
                                                    <a href="{{ product.get_absolute_url }}" class="link">
                                                        <i class="fa fa-link"></i>
                                                    </a>
                                                </div>
                                                <div class="product-item-stock">
                                                    <span class="title">Availability:</span>
                                                   {{ product.check_availability }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                {% endif %}

                                
                            </ol><!-- list product -->
                        </div> <!-- List Products -->

                        <!-- Toolbar -->
                        <div class=" toolbar-products toolbar-bottom">

                            <div class="modes">
                                <strong  class="label">View as:</strong>
                                <strong  class="modes-mode active mode-grid" title="Grid">
                                    <span>grid</span>
                                </strong>
                                <a  href="Category2.html" title="List" class="modes-mode mode-list">
                                    <span>list</span>
                                </a>
                            </div><!-- View as -->
                           
                           
                            <ul class="pagination">
                                {% if person_page_obj.has_previous %}
                                <li>
                                  <a href="?page={{ person_page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&raquo; Previous </span>
                                  </a>
                                </li>
                                {% endif %}
                                {% for i in person_page_obj.paginator.page_range %}
                                {% if movies.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                 {% endfor %}
                                {% if person_page_obj.has_next %}
                                <li>
                                  <a href="?page={{ person_page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">Next &raquo;</span>
                                  </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                                </li>
                                {% endif %}
                              </ul>

                        </div><!-- Toolbar -->

                    </div><!-- Main Content -->
                   
                    <!-- Sidebar -->
                    
                    {% include 'frontend/sidebar.html' %}
                    

                    
                    
                </div>
            </div>


		</main><!-- end MAIN -->

{% endblock %}